@media screen and (max-width: 980px) {

	#pagewrap {
		width: 95%;
	}

	#main {
		width: 60%;
		padding: 3% 4%;
	}
}

@media screen and (max-width: 650px) {

	#logo {
		height: auto;
	}

	#main {
		width: auto;
		float: none;
		margin: 20px 0;
	}
}

@media screen and (max-width: 480px) {

	html {
		-webkit-text-size-adjust: none;
	}
}