@import "https://www.nerdfonts.com/assets/css/webfont.css";
html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin: 0;
    height: fit-content;
    width: fit-content;
    background-color: #252525;
}

#logo {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 380px;
    background-color: #0A0A0A;
    border-bottom: 1px solid rgb(224, 224, 224);
}

#image {
    width: 527px;
    height: 380px;
    margin: auto;
    display: block;
}

#title {
    position: absolute;
    z-index: 1;
    text-align: center;
    width: 100%;
    font-size: 80px;
    color: #398900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#datetime {
    position: absolute;
    z-index: 2;
    text-align: center;
    right: 10%;
    width: fit-content;
    padding: 20px;
    background-color: #1c4200;
    color: white;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
    border-color: #1c4200;
    border-style: solid;
}

#contact {
    list-style-type: none;
    position: absolute;
    z-index: 2;
    text-align: left;
    left: 10%;
    width: fit-content;
    padding: 20px;
    background-color: #1c4200;
    color: white;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
    border-color: #1c4200;
    border-style: solid;
}

#contact a {
    text-decoration: none;
    color: white;
}

#contact i {
    font-size: 55px;
}

#main {
    flex: 1;
    display: block;
    width: 100%;
    height: auto;
    align-items: center;
}

#main p {
    display: block;
    margin: 2% auto 2% auto;
    width: 70%;
    font-size: 30px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
}

#main h1 {
    display: block;
    margin: 2% auto 2% auto;
    width: 70%;
    font-size: 40px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
}

#kartenpin:link, #kartenpin:visited, #kartenpin:hover, #kartenpin:active {
    text-decoration: none;
    color: red;
}

#impressum {
    display: flex;
    background-color: #0A0A0A;
    border-top: 1px solid rgb(224, 224, 224);
    width: 100%;
    height: fit-content;
    padding: 1% auto 1% 2%;
    margin: auto auto 0px auto;
}

#impressum li {
    display: block;
    font-size: 18px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}

#left {
    text-align: center;
    width: 33.33%;
    list-style-type: none;
}

#middle {
    text-align: center;
    width: 33.33%;
    list-style-type: none;
}

#right {
    text-align: center;
    width: 33.33%;
    list-style-type: none;
}

#impcontact {
    margin-top: 10%;
}


.loader {
    width: 44.8px;
    height: 44.8px;
    position: relative;
    transform: rotate(45deg);
  }
  
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50% 50% 0 50%;
    background: #0000;
    background-image: radial-gradient(circle 11.2px at 50% 50%,#0000 94%, #ff4747);
  }
  
  .loader:after {
    animation: pulse-ytk0dhmd 1s infinite;
    transform: perspective(336px) translateZ(0px);
  }
  
  @keyframes pulse-ytk0dhmd {
    to {
      transform: perspective(336px) translateZ(168px);
      opacity: 0;
    }
  }
    
  