html, body {
    margin: 0;
    height: 100%;
    background-color: #252525;
}

#logo {
    width: 1920px;
    height: 30%px;
    background-color: #252525;
    border-bottom: 2px solid white;
}

#img {
    width: 600px;
    height: 300px;
    margin-left: 35%;
}